/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --page-background-image-source: url('../images/cover-image-dark.png');
  --page-background-color: #000028;

  --color-title: #db00ff;
  --color-header: #ff0070;
  --color-button-hover: rgba(255, 0, 112, 0.4);
  --color-main-text: #f1b2ce;
  --color-accent: #ff0070;
  --color-accent-text: #000028;
  --color-section-title: #ff0070;

  .header__dark-theme-flavor-text {
    display: block;
  }
}